body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #95a1e9;
}

nav {
    background: #4e4cbb;
    text-align: center;
}

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li{
    background-color: #2a3870;
    position: relative;
    text-align: center;
}

.menu li a{
    display: block;
    padding: 20px 20px;
    color: rgb(197, 197, 197);
    text-decoration: none;
}

.menu li a:hover {
    background-color: #9db4e4;
}

.submenu{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.menu li:hover .submenu{
    display: block;
}

.submenu li a{
    padding: 10px 15px;
}

.submenu li a:hover {
    background-color: #5354a3;
}

ul {
    color: #7e74db;
    background-color: #857dcc;
    
}

.fotoLiquid {
    height: 100px;
  }
  
  .textoLiquid {
      padding: 23px;
    font: optional;
    text-align: none;
    list-style-type: none;
    color: #352786;
  }