body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #a8a8a8;
}

nav {
    background: #77777a;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li {
    background-color: #4e4e4e;
    position: relative;
    text-align: center;
}

.menu li a {
    display: block;
    padding: 20px 20px;
    color: rgb(197, 197, 197);
    text-decoration: none;
}

.menu li a:hover {
    background-color: #b17300;
}

.submenu {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.menu li:hover .submenu {
    display: block;
}

.submenu li a {
    padding: 10px 15px;
}

.submenu li a:hover {
    background-color: #b17300;
}

ul {
    color: #818181;
    background-color: #818181;

}

.fotoG2 {
    height: 100px;
}

.textoG2 {
    padding: 23px;
    font: optional;
    text-align: none;
    list-style-type: none;
    color: #3f3f3f;
}

.fotoG2 {
    height: 140px;
}

.textoG2 {
    padding: 23px;
    font: optional;
    text-align: none;
    list-style-type: none;
    color: #915906;
}