body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #cfdae4;
}

nav {
    background: #D9EAFD;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li {
    background-color: #BCCCDC;
    position: relative;
    text-align: center;
}

.menu li a {
    display: block;
    padding: 20px 20px;
    color: rgb(77, 68, 92);
    text-decoration: none;
}

.menu li a:hover {
    background-color: #9AA6B2;
}

.submenu {
    display: none;
    position: absolute;
    background-color: darkgray;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.menu li:hover .submenu {
    display: block;
}

.submenu li a {
    padding: 10px 15px;
}

.submenu li a:hover {
    background-color: #9AA6B2;
}

ul {
    color: #9AA6B2;
    background-color: #D9EAFD;

}

.eu {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    text-align: center;
    max-width: 400px;
    max-height: -220px;
    background-color: #b2bece;
    color: #71879c;
    border-bottom: 26px solid rgb(89, 97, 102);
    border-left: 26px solid rgb(141, 153, 160);
    border-top:26px solid rgb(89, 97, 102);
    border-right: 26px solid rgb(141, 153, 160);
    border-radius: 35px;

}

.fotoEu{
    height: 200px;
}